/* Colors for brand */
nav .navbar-brand .blue
{
    color: #033984;
}
.card-header
{
    color: black;
}

.card
{
    margin-left: 25px;
    margin-right: 25px;
}
#header
{
    background-color: dodgerblue;
}

#indexrow1
{
    background-color: black;
}

#statement
{
    font-size: large
}

body {
    color: rgb(255, 255, 255);
  }

#statement_head
{
    font-weight: bold;
}

#indexpic
{
    height:500px;
}