{% extends "layout.html" %}

{% block title %}
   Homepage
{% endblock %}
        
{% block main %}
<div class="row" id="indexrow1">
    <div class="col-4">
        <img class="img-fluid" src="static/20220223_193009.jpg" id="indexpic">
    </div>
    <div class="col-8">
        <h1 id="statement_head">Create Track Compare</h1>
        <p id="statement">
            Atlas fitness allows user to Create workout plans specifying workout, weights , reps, sets
            across multiple worksout. We also allow you to track the results of these workouts and will provide
            a dash board to monitor your progress in graphical form.
            This website is develop by Kobie Drysdale as part of CS50 and will be the final porject for this course.
            I started coding sometime in may 2022 and plan to eventually enter the CS world as a backend devleoper.

        </p>
    </div>
</div>
{% endblock %}